{#
/**
 * @file
 * Theme override to display a menu.
 *
 * Available variables:
 * - menu_name: The machine name of the menu.
 * - items: A nested list of menu items. Each menu item contains:
 *   - attributes: HTML attributes for the menu item.
 *   - below: The menu item child items.
 *   - title: The menu link title.
 *   - url: The menu link url, instance of \Drupal\Core\Url
 *   - localized_options: Menu link localized options.
 *   - is_expanded: TRUE if the link has visible children within the current
 *     menu tree.
 *   - is_collapsed: TRUE if the link has children within the current menu tree
 *     that are not currently visible.
 *   - in_active_trail: TRUE if the link is in the active trail.
 */
#}
{% import _self as menus %}

{#
  We call a macro which calls itself to render the full tree.
  @see https://twig.symfony.com/doc/1.x/tags/macro.html
#}
{{ menus.menu_links(items, attributes, 0) }}

{% macro menu_links(items, attributes, menu_level) %}
{% import _self as menus %}
{% if items %}
{% if menu_level == 0 %}
<style>
  .sub_container,
  #linkProducts {
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all .2s;
  }

  .subItem_active,
  .sub_active {
    max-height: 1000000px !important;
    opacity: 1 !important;
  }

  .subItem_active {
    color: #4299e2;
    font-weight: 500;
  }

  .subItem_active i {
    transform: rotate(90deg);
  }

  .subLink {
    line-height: 50px !important
  }

  @media (min-width: 1280px) {
    .product_container:hover {
      background-color: #4299e2;
    }

    .product_container:hover>a {
      color: #fff;
    }

    #linkProducts:hover {
      overflow: visible;
    }

    .sub_container {
      min-width: 620px;
      display: none;
      max-height: 100%;
      overflow: visible;
      opacity: 1;
    }

    .sub_container a {
      line-height: 60px !important;
    }

    .sub_title i {
      opacity: 0;
      transition: all .3;
    }

    .sub_main:hover>.sub_title {
      color: #4299e2 !import;
      font-weight: 500 !import;
    }

    .sub_main:hover>.sub_title i {
      opacity: 1;
    }

    .sub_main:hover>.sub_container {
      display: block;
    }

    .subLink:hover #linkProducts {
      max-height: 1000000px !important;
      opacity: 1 !important;
    }
  }
</style>
<ul{{ attributes }} class="vd-menu relative flex-col xl:flex-row items-start xl:items-center px-6 xl:px-0">
  {% else %}
  <ul class="vd-menu flex-col xl:flex-row items-start xl:items-center">
    {% endif %}

    <a href="/noticias" class="vd-menu__icon p-1 text-gray-800 hover:text-blue-500 text-sm">
      <i class="icon-rss"></i>
    </a>
    <a href="/" class="vd-menu__icon p-1 text-gray-800 hover:text-blue-500 text-sm">
      <i class="icon-home"></i>
    </a>
    <li class="relative xl:static subLink block m-0 product_container">
      <a href="/productos">Productos</a>
      <button id="btnSub" class="icon-right-open xl:hidden absolute right-0 top-0 px-3 outline-none border-0 transform"></button>
      <div id="linkProducts" class="xl:absolute trasition-all duration-200 bg-white ">
        <div class="relative">
          <div class="sub_main">
            <a href="/productos/aplicaciones/fachadas" class="sub_title px-4 my-0 py-2 border-b">Vidrio para fachadas <i class="ml-2 icon-right-open inline-block transition-all duration-200"></i></a>
            <div class="sub_container xl:absolute right-0 top-0 bg-white xl:transform xl:translate-x-full h-full">
              <div class="grid xl:grid-cols-3 px-6 xl:px-0">
                <a href="/productos/cool-lite-r-sknknt">COOL LITE ® SKN/KNT</a>
                <a href="/productos/cool-lite-r-ststb">COOL LITE ® ST/STB</a>
                <a href="/productos/bienestar-r">BienEstar ® Control Solar</a>
                <a href="/productos/parsol-r">Parsol®</a>
                <a href="/productos/vidrio-laminado">Vidrio Laminado</a>
                <a href="/productos/bioclean-r">BIOCLEAN ®</a>
                <a href="/productos/diamant-r">DIAMANT ®</a>
              </div>
            </div>
          </div>
          <div class="sub_main">
            <a href="/productos/aplicaciones/ventanas-para-el-hogar" class="sub_title px-4 my-0 py-2 border-b">Vidrio para ventanas <i class="ml-2 icon-right-open inline-block transition-all duration-200"></i></a>
            <div class="sub_container xl:absolute right-0 top-0 bg-white xl:transform xl:translate-x-full h-full">
              <div class="grid xl:grid-cols-3 px-6 xl:px-0">
                <a href="/productos/bienestar-r">BienEstar ® Control Solar</a>
                <a href="/productos/cool-lite-r-ststb">COOL LITE ® ST/STB</a>
                <a href="/productos/parsol-r">Parsol®</a>
                <a href="/productos/vidrio-incoloro-r">Vidrio Incoloro</a>
              </div>
            </div>
          </div>
          <div class="sub_main">
            <a href="/productos/aplicaciones/diseño-interior" class="sub_title px-4 my-0 py-2 border-b">Vidrio para diseño interior <i class="ml-2 icon-right-open inline-block transition-all duration-200"></i></a>
            <div class="sub_container xl:absolute right-0 top-0 bg-white xl:transform xl:translate-x-full h-full">
              <div class="grid xl:grid-cols-3 px-6 xl:px-0">
                <a href="/productos/decorglass-r">DECORGLASS ®</a>
                <a href="/productos/master-carre-r">MASTER-CARRE ®</a>
                <a href="/productos/master-lens-r">MASTER-LENS ®</a>
                <a href="/productos/master-ray-r">MASTER-RAY ®</a>
                <a href="/productos/mastersoft-r">MASTERSOFT ®</a>
                <a href="/productos/waveline-fluid-r">WAVELINE FLUID ®</a>
                <a href="/productos/parsol-r">Parsol®</a>
                <a href="/productos/planilaque-r">PLANILAQUE ®</a>
                <a href="/productos/vidrio-incoloro-r">Vidrio Laminado Incoloro</a>
                <a href="/productos/vidrio-laminado-de-color">Vidrio Laminado de Color</a>
                <a href="/productos/mirage-r">MIRAGE ®</a>
                <a href="/productos/picto-r">PICTO ®</a>
                <a href="/productos/diamant-r">DIAMANT ®</a>
              </div>
            </div>
          </div>
          <div class="sub_main">
            <a href="/productos/aplicaciones/refrigeracion" class="sub_title px-4 my-0 py-2 border-b">Vidrio para industria refrigeración <i class="ml-2 icon-right-open inline-block transition-all duration-200"></i></a>
            <div class="sub_container xl:absolute right-0 top-0 bg-white xl:transform xl:translate-x-full h-full">
              <div class="grid xl:grid-cols-3 px-6 xl:px-0">
                <a href="/productos/eko-pro-r">EKO PRO ®</a>
                <a href="/productos/planitherm-r">PLANITHERM ®</a>
              </div>
            </div>
          </div>
          <div class="sub_main">
            <a href="/complementos" class="sub_title px-4 my-0 py-2 border-b">Complementos para vidrio <i class="ml-2 icon-right-open inline-block transition-all duration-200"></i></a>
            <div class="sub_container xl:absolute right-0 top-0 bg-white xl:transform xl:translate-x-full h-full">
              <div class="grid xl:grid-cols-3 px-6 xl:px-0">
                <a href="#">Silicona Multiuso</a>
                <a href="#">Silicona Neutra</a>
                <a href="#">Adhesivo Fija Espejo</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </li>
    {% for item in items %}
    <li{{ item.attributes }}>
      {{ link(item.title, item.url) }}
      {% if item.below %}
      {{ menus.menu_links(item.below, attributes, menu_level + 1) }}
      {% endif %}
      </li>
      {% endfor %}
  </ul>
  {% endif %}
  {% endmacro %}

  <script>
    document.addEventListener('DOMContentLoaded', () => {
      document.getElementById('btnSub').addEventListener('click', (e) => {
        document.getElementById('linkProducts').classList.toggle('sub_active')
        document.getElementById('btnSub').previousElementSibling.classList.toggle('bg-blue-500')
        document.getElementById('btnSub').previousElementSibling.classList.toggle('text-white')
        document.getElementById('btnSub').previousElementSibling.classList.toggle('px-4')
        e.target.classList.toggle("text-white")
        e.target.classList.toggle("bg-blue-500")
        e.target.classList.toggle("rotate-90")
      })

      function resposive(x) {
        if (x.matches) {
          document.querySelectorAll('.sub_title').forEach(item => {
            item.addEventListener('click', (e) => {
              if (e.target.localName == "h3") {
                e.target.classList.toggle('subItem_active')
                e.target.nextElementSibling.classList.toggle('subItem_active')
              }
            })
          })

        }
      }
      const x = window.matchMedia("(max-width: 1280px)")
      resposive(x)
    })
  </script>