{#
/**
 * @file
 * Theme override for status messages.
 *
 * Displays status, error, and warning messages, grouped by type.
 *
 * An invisible heading identifies the messages for assistive technology.
 * Sighted users see a colored box. See http://www.w3.org/TR/WCAG-TECHS/H69.html
 * for info.
 *
 * Add an ARIA label to the contentinfo area so that assistive technology
 * user agents will better describe this landmark.
 *
 * Available variables:
 * - message_list: List of messages to be displayed, grouped by type.
 * - status_headings: List of all status types.
 * - attributes: HTML attributes for the element, including:
 *   - class: HTML classes.
 */
#}
<div data-drupal-messages>
  {% for type, messages in message_list %}
  <div class="bg-teal-100 border-t-4 border-teal-500 rounded-b text-teal-900 px-4 py-3 shadow-md" role="contentinfo" aria-label="{{ status_headings[type] }}" {{ attributes|without('role', 'aria-label') }}>
    {% if type == 'error' %}
    <div role="alert" class="border border-t-0 border-red-400 rounded-b bg-red-100 px-4 py-3 text-red-700">
      {% endif %}
      {% if status_headings[type] %}
      <h2 class="font-bold">{{ status_headings[type] }}</h2>
      {% endif %}
      {% if messages|length > 1 %}
      <ul>
        {% for message in messages %}
        <li>{{ message }}</li>
        {% endfor %}
      </ul>
      {% else %}
      {{ messages|first }}
      {% endif %}
      {% if type == 'error' %}
    </div>
    {% endif %}
  </div>
  {% endfor %}
</div>